html, body {
  margin: 20px;
}

.pop-over {
  display: inline-block;
  position: relative;
}

.pop-over__anchor {
  display: inline-block;
}

.pop-over__body {
  position: fixed;
  border: 1px solid #CCC;
  background-color: #FFF;
  min-width: 100px;
  max-width: 300px;
  z-index: 10;
}

.pop-over__body--hidden {
  display: none;
}

/* demo */

.pop-overs {
  margin-top: 300px;
}