
.make-it-scroll {
  width: 250vw;
  height: 250vh;
}

.inner {
  margin: auto;
  margin-top: 100vh;
  width: 500px;
  height: 500px;
  border: 1px solid red;
  text-align: center;
}

.pop-over {
  display: inline-block;
  position: relative;
}

.pop-over__anchor {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #CCC;
  padding: 10px;
  margin: 10px;
}

.pop-over__body {
  position: fixed;
  border: 1px solid #CCC;
  background-color: #FFF;
  min-width: 100px;
  max-width: 300px;
  z-index: 10;
}

.pop-over__body--hidden {
  display: none;
}

/* demo */

.pop-overs {
  display: flex;
  justify-content: center;
  padding: 100px;
}