<h2 id='title'>MB-PopOver</h2>
<div class="make-it-scroll">
  <div class="inner">
    <div class="pop-overs">
      {{#pop-over anchor-attachment="bottom middle" body-attachment="top middle"}}
        {{#pop-over-anchor}}bottom centered{{/pop-over-anchor}}
        {{#pop-over-body}}
          {{lorem-ipsum}}
        {{/pop-over-body}}
      {{/pop-over}}

      {{#pop-over anchor-attachment="top right" body-attachment="bottom left"}}
        {{#pop-over-anchor}}top right{{/pop-over-anchor}}
        {{#pop-over-body}}
          {{lorem-ipsum}}
        {{/pop-over-body}}
      {{/pop-over}}

      {{#pop-over anchor-attachment="bottom left" body-attachment="top left"}}
        {{#pop-over-anchor}}bottom left{{/pop-over-anchor}}
        {{#pop-over-body}}
          {{lorem-ipsum}}
        {{/pop-over-body}}
      {{/pop-over}}
    </div>

    <p>
      By default the pop-over closes when the body is clicked,
      set <code>interactive=true</code> to override this behaviour
      so you can manually close it when you want
    </p>

    <div class="pop-overs">
      {{#pop-over}}
        {{#pop-over-anchor}}interactive{{/pop-over-anchor}}
        {{#pop-over-body interactive=true}}

          {{#pop-over}}
            {{#pop-over-anchor}}nested{{/pop-over-anchor}}
            {{#pop-over-body}}
              {{lorem-ipsum}}
            {{/pop-over-body}}
          {{/pop-over}}

        {{/pop-over-body}}
      {{/pop-over}}
    </div>

  </div>
</div>